<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.bignerdranch.com.mygymbuddy" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".GymActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Register"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Home"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Profile"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Workout"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_workout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set"
            android:label="@string/title_activity_set" >
        </activity>
    </application>

</manifest>
